VITE_SUPABASE_URL=https://khtndvcjfovnazdiykew.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_gVMdLUOal8Vv7LpWfGwQdw_yj8yv9B-
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gVMdLUOal8Vv7LpWfGwQdw_yj8yv9B-
